@page "{id}"
@model BlogON.Presentation.Pages.SingleModel
@{
    Layout = "_Layout";
}

<div class="single_post">
    <div class="container-fluid">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="post_img">
                        <img src="@Model.articleQueryView.Image" alt="">
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="posts_meta text-center">
                <span><i class="fa fa-comment-o"></i> (@Model.articleQueryView.CommentsCount) نظر</span>
                <span><i class="fa fa-archive"></i>@Model.articleQueryView.Category</span>
                <span><i class="fa fa-calendar"></i> @Model.articleQueryView.CreationDate.ToString()</span>
            </div>
            <div class="post_content">
                <h3 class="Bold">@Model.articleQueryView.Title</h3>
                <hr />

                @Html.Raw(Model.articleQueryView.Content)

            </div>




            <div class="comments_form">
                <h5>دیدگاه شما </h5>
                <form method="post">
                    <div class="form-row">
                        <div class="col-md-6">
                            <input type="text" name="Name" id="Name" class="form-control" placeholder="نام شما">
                        </div>
                        <div class="col-md-6">
                            <input type="email" name="Email" id="Email" class="form-control" placeholder="ایمیل">
                        </div>
                        <div class="col-md-12">
                            <textarea class="form-control" name="Message" id="Message" placeholder="نظر شما ..."></textarea>
                        </div>
                        <input type="hidden" name="ArticleId" value="@Model.articleQueryView.Id" />
                        <div class="col-md-12">
                            <div class="text-left">
                                <button class="btn btn-primary">ثبت نظر</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>



            <div class="comments_form">
                <div class="entry-comments">
                    <div class="title-wrap title-wrap--line">
                        <h3 class="section-title">(@Model.articleQueryView.CommentsCount) دیدگاه</h3>
                    </div>
                    <ul class="comment-list">

                        @foreach (var item in Model.articleQueryView.Comments)
                        {
                            <li class="comment">
                                <div class="comment-body">
                                    <div class="comment-avatar">
                                        <img alt="" src="/SiteTempelet/img/Comment.png">
                                    </div>
                                    <div class="comment-text">
                                        <h6 class="comment-author">@item.Name</h6>
                                        <div class="comment-metadata">
                                            <a href="#" class="comment-date">@item.CreationDate</a>
                                        </div>
                                        <p>
                                            @item.Comment
                                        </p>

                                      
                                    </div>
                                </div>
                            </li>
                        }
                        <!--<ul class="children">
                        <li class="comment">
                            <div class="comment-body">
                                <div class="comment-avatar">
                                    <img alt="" src="/SiteTempelet/img/Comment.png">
                                </div>
                                <div class="comment-text">
                                    <h6 class="comment-author">حامد</h6>
                                    <div class="comment-metadata">
                                        <a href="#" class="comment-date">۴ اردیبهشت ۱۳۹۸</a>
                                    </div>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                    <a href="#" class="comment-reply">پاسخ</a>
                                </div>
                            </div>
                        </li>-->
                        <!-- end reply comment -->
                        <!--</ul>-->
                        <!-- end 1-2 comment -->



                    </ul>
                </div>
            </div>





        </div>
    </div>
</div>